<%- include('../common/header.ejs') %>
<% console.log(session) %>
<%console.log(announcements)%>
<%  
    let formatedDate = new Date(announcements.created_at_announcement)
    let options = {weekday: "long", year: "numeric", month: "long", day: "2-digit"};
    formatedDate = formatedDate.toLocaleDateString("fr-FR", options)
    let formatedDateUser = new Date(announcements.created_at_user)
    formatedDateUser = formatedDateUser.toLocaleDateString("fr-FR", options)
%>

<div class="productDetailContainer px-3 mt-4">
    <img class="img-fluid" src="/img/<%=announcements.photo%>" alt="">

    <div class="descriptionContainer w-100 p-2">
        <div class="d-flex align-items-center justify-content-between ">
            <h5><%= announcements.title %></h5>
            <span><%= announcements.zipcode%></span>
        </div>
        <p class="price c-green fw-700"><%= announcements.price %> €</p>
        <p class="desc"><%= announcements.description %></p>
        <span class="publiedAt c-grey">Publié le <%= formatedDate %></span>  <% if (session.userId === announcements.id_user) { %><span><a class="buttn" href="/update/<%=announcements.id_announcement%>/true">Modifier votre annonce</a></span> <% }%>
    </div>


    <div class="resellerContainer d-flex align-items-center mt-4 p-2">

        <img class="profilPicture" src="img/profilPic.jpg" alt="Photo de profil de l'utilisateur">

        <div class=" w-100 resellerIdentity d-flex align-items-center ">
            <div class="  d-flex  flex-column">
                <div class="resellerName"><%= announcements.name %></div>
                <div class="memberSince c-grey">Membre depuis le <%= formatedDateUser %></div>
            </div>

            <div class="d-flex flex-column flex-md-row">
                <div class="buttn mb-2 mb-md-0" id="NotifierPN">Notifier</div>
                <div class="buttn" id="AppelerPN">Appeler</div>
            </div>
        </div>

    </div>
</div>

<%- include('../common/footer.ejs') %>