<%  let formatedDate = new Date(announce.created_at)
    let options = {weekday: "long", year: "numeric", month: "long", day: "2-digit"};
    formatedDate = formatedDate.toLocaleDateString("fr-FR", options)
%>

<div class="col-sm-12"> 
    
    <div class="card mb-4">
        <!-- substr ligne 15 retourne un segment de chaine de caractére -->
        <div class="row g-0">
            <div class="col-md-3 product-img-container">
                <img src="/img/<%=announce.photo%>" class="img-fluid rounded-start"
                    alt="image produit">
                    <!-- <img class="svgCoeur" src="/img/coeur.svg" alt=""> -->
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title fw-bold">
                        <a href="/detail/<%= announce.id_announcement%>"><%= announce.title %></a>
                    </h5>
                    <p class="card-text"><small class="text-muted"><%= announce.cat_name %></small></p>
                    <p class="card-text"><%= announce.description %></p>
                        <p class="card-text"><large class="text-muted"><%= announce.price %> €</large></p>
                        <p class="card-text"><%= announce.zipcode %> 
                            <small class="text-muted"> Publié le <%= formatedDate %></small>
                        </p>
                </div>
            </div>
        </div>
    </div>
</div>